body {
	font-family: 'Roboto', Arial, sans-serif;
	background-color: #121212;
	color: #e0e0e0;
}
code, pre, textarea, input {
  font-family: 'Fira Code', 'Courier New', monospace; /* Monospace fonts */
}
.directory-path form { display: inline; }
.directory-path input[type="submit"] {
	background: none;
	border: none;
	color: #8fa6ff;
	cursor: pointer;
	text-decoration: underline;
}
table { width: 100%; border-collapse: collapse; }
th, td { padding: 8px; text-align: left; border: 1px solid #333; }
th { background-color: #333; }
tr:nth-child(even) { background-color: #1e1e1e; }
tr:hover { background-color: #333; }
textarea { width: 90%; height: 250px; background-color: #333; color: #e0e0e0; border: 1px solid #555; }
input, button {
	background-color: #333;
	color: #e0e0e0;
	border: 1px solid #555;
	padding: 5px;
}
button { cursor: pointer; }
h1, h3 { color: #8fa6ff; }

/* Style buttons to look like links */
.link-text {
	background: none;
	border: none;
	color: #8fa6ff;
	/*text-decoration: underline;*/
	cursor: pointer;
	font-size: inherit;
	font-family: inherit;
	padding: 0;
	margin: 0;
}

/* Remove focus outline for better aesthetics */
.link-text:focus {
	outline: none;
}

/* Optional: Change color when hovered over */
.link-text:hover {
	color: purple;
}

#commandInput {
  padding: 5px;
  font-size: 16px;
  background-color: #333;
  color: #e0e0e0;
  border: 1px solid #555;
  transition: width 0.2s ease;
}

